In [1]:
print(5)

5

Импортируем сущности для таблицы

In [2]:
from models import *

Импортируем Класс SimpleFaker для генерации данных.

In [3]:
from simplefaker import SimpleFaker

Скрипты для заполнения таблиц:

In [10]:

import random
from datetime import datetime



def seed_athletes(session, num_records, fake):
    for _ in range(num_records):
        at_sex = random.choice(['male', 'female'])
        athlete = Athlete(

            sex=at_sex,
            name=fake.name(sex=at_sex),
            country=fake.country(),
            birthdate=fake.date_of_birth(minimum_age=15, maximum_age=40)
        )
        session.add(athlete)
    session.commit()

def seed_olympic_games(session, num_records, faker):

    for _ in range(num_records - 2):
        yr = faker.year()
        olympic_game = OlympicGame(
            year=yr,
            season=faker.season(year=yr),
            country=faker.country(),
            city=faker.name()  # Используем имя как город для простоты
        )
        session.add(olympic_game)

    for _ in range(1):
        olympic_game = OlympicGame(
            year=2004,
            season='summer',
            country=faker.country(),
            city=faker.name()  # Используем имя как город для простоты
        )
        session.add(olympic_game)

    for _ in range(1):
        olympic_game = OlympicGame(
            year=2000,
            season='summer',
            country=faker.country(),
            city=faker.name()  # Используем имя как город для простоты
        )
        session.add(olympic_game)

    session.commit()

def seed_events(session, num_records, faker):

    # Получаем все олимпийские игры из базы данных
    olympic_games = session.query(OlympicGame).all()

    for _ in range(num_records):
        event = Event(
            sport_name=faker.event_name(),
            event_name=f"{faker.event_name()} Event",
            venue=faker.venue(),
            event_date=faker.random_date(datetime(2000, 1, 1), datetime(2024, 12, 31)),
            olympic_game_id=random.choice(olympic_games).id  # Привязка к олимпийским играм
        )
        session.add(event)

    session.commit()

def seed_participations(session, num_records, fake):

    # Получаем всех спортсменов и все события из базы данных
    athletes = session.query(Athlete).all()
    events = session.query(Event).all()

    for _ in range(num_records):
        participation = Participation(
            athlete_id=random.choice(athletes).id,
            event_id=random.choice(events).id,
            rank=random.choice([None, 1, 2, 3]),  # Место спортсмена, None - не выиграл медаль
            team_event=random.choice([0, 1])  # 0 - индивидуальное, 1 - командное
        )
        session.add(participation)

    session.commit()

Полная генерация всей БД:

In [11]:
def seed_database(session, faker):
    if len(session.query(Athlete).all()) == 0:     # Проверяем, что таблица не пуста
        seed_athletes(session, 100, faker)         # Заполняем 100 спортсменов
    if len(session.query(OlympicGame).all()) == 0: # Проверяем, что таблица не пуста
        seed_olympic_games(session, 5, faker)      # Заполняем 5 олимпиад
    if len(session.query(Event).all()) == 0:       # Проверяем, что таблица не пуста
        seed_events(session, 20, faker)            # Заполняем 20 событий
    if len(session.query(Participation).all()) == 0: # Проверяем, что таблица не пуста
        seed_participations(session, 200, faker)   # Заполняем 200 участий спортсменов в событиях

Создаём сессию для работы с БД:

In [12]:
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker


# 1. Создание подключения к базе данных
DATABASE_URL = 'postgresql://pavelmernov:pavelmernov@localhost:5432/mernov_db'
engine = create_engine(DATABASE_URL)

# 2. Создание всех таблиц
Base.metadata.create_all(engine)

# 3. Настройка сессии для работы с базой данных
Session = sessionmaker(bind=engine)
session = Session()

Заполняем фейковые данные для генерации:

In [13]:
# 1. Фейковые данные для заполнения
faker = SimpleFaker()

# 2. Заполнение базы данных
seed_database(session, faker)

Тестовый SQL запрос:

Тестовый запрос данных

In [14]:
# Получение всех атлетов из базы данных
def get_all_athletes(session):
    athletes = session.query(Athlete).all()
    return athletes

# Вызываем функцию и выводим результат
athletes = get_all_athletes(session)

for athlete in athletes:
    print(f"ID: {athlete.id}, Name: {athlete.name}, Sex: {athlete.sex}, Country: {athlete.country}, Birthdate: {athlete.birthdate}")

ID: 1, Name: John Brown, Sex: male, Country: South Africa, Birthdate: 1993-07-12
ID: 2, Name: Linda Jones, Sex: female, Country: Australia, Birthdate: 1989-09-28
ID: 3, Name: Elizabeth Williams, Sex: female, Country: UK, Birthdate: 2007-09-08
ID: 4, Name: James Jones, Sex: male, Country: Canada, Birthdate: 1993-03-15
ID: 5, Name: Linda Jones, Sex: female, Country: Tanzania, Birthdate: 1987-06-05
ID: 6, Name: John Jones, Sex: male, Country: Canada, Birthdate: 2000-09-01
ID: 7, Name: Jennifer Johnson, Sex: female, Country: USA, Birthdate: 1988-02-24
ID: 8, Name: James Smith, Sex: male, Country: South Africa, Birthdate: 1995-07-15
ID: 9, Name: Michael Jones, Sex: male, Country: Australia, Birthdate: 1986-04-22
ID: 10, Name: Jennifer Johnson, Sex: female, Country: Tanzania, Birthdate: 2000-06-22
ID: 11, Name: John Jones, Sex: male, Country: South Africa, Birthdate: 1997-11-22
ID: 12, Name: Linda Smith, Sex: female, Country: South Africa, Birthdate: 1994-10-29
ID: 13, Name: Patricia Johnson, Sex: female, Country: UK, Birthdate: 1998-05-19
ID: 14, Name: William Williams, Sex: male, Country: Jamaica, Birthdate: 1985-01-14
ID: 15, Name: William Williams, Sex: male, Country: Australia, Birthdate: 2008-05-27
ID: 16, Name: Robert Johnson, Sex: male, Country: Australia, Birthdate: 1994-05-24
ID: 17, Name: James Williams, Sex: male, Country: South Africa, Birthdate: 2003-09-22
ID: 18, Name: Elizabeth Jones, Sex: female, Country: Australia, Birthdate: 1988-07-21
ID: 19, Name: Robert Brown, Sex: male, Country: UK, Birthdate: 2006-02-15
ID: 20, Name: Linda Williams, Sex: female, Country: Canada, Birthdate: 1993-04-15
ID: 21, Name: Mary Smith, Sex: female, Country: Tanzania, Birthdate: 1987-05-17
ID: 22, Name: Jennifer Johnson, Sex: female, Country: Canada, Birthdate: 1992-09-18
ID: 23, Name: John Williams, Sex: male, Country: South Africa, Birthdate: 2003-07-10
ID: 24, Name: James Brown, Sex: male, Country: South Africa, Birthdate: 1993-03-11
ID: 25, Name: William Smith, Sex: male, Country: Canada, Birthdate: 1996-11-18
ID: 26, Name: Patricia Williams, Sex: female, Country: UK, Birthdate: 1995-07-31
ID: 27, Name: Michael Smith, Sex: male, Country: USA, Birthdate: 1987-07-24
ID: 28, Name: Michael Jones, Sex: male, Country: Australia, Birthdate: 1988-12-11
ID: 29, Name: Patricia Brown, Sex: female, Country: UK, Birthdate: 1985-12-30
ID: 30, Name: Michael Jones, Sex: male, Country: South Africa, Birthdate: 2002-01-23
ID: 31, Name: Linda Williams, Sex: female, Country: Jamaica, Birthdate: 1984-11-29
ID: 32, Name: Mary Jones, Sex: female, Country: South Africa, Birthdate: 1987-04-15
ID: 33, Name: Linda Johnson, Sex: female, Country: Tanzania, Birthdate: 1984-11-06
ID: 34, Name: Jennifer Johnson, Sex: female, Country: Tanzania, Birthdate: 1999-05-01
ID: 35, Name: James Brown, Sex: male, Country: Jamaica, Birthdate: 1991-07-03
ID: 36, Name: Mary Johnson, Sex: female, Country: Australia, Birthdate: 1996-08-30
ID: 37, Name: James Smith, Sex: male, Country: Australia, Birthdate: 2003-07-14
ID: 38, Name: Jennifer Smith, Sex: female, Country: UK, Birthdate: 1998-01-09
ID: 39, Name: Patricia Smith, Sex: female, Country: Australia, Birthdate: 2004-05-21
ID: 40, Name: Patricia Jones, Sex: female, Country: Australia, Birthdate: 2006-08-21
ID: 41, Name: James Jones, Sex: male, Country: Tanzania, Birthdate: 2004-03-31
ID: 42, Name: James Smith, Sex: male, Country: South Africa, Birthdate: 2002-06-05
ID: 43, Name: Elizabeth Brown, Sex: female, Country: Australia, Birthdate: 1993-02-26
ID: 44, Name: Michael Williams, Sex: male, Country: Australia, Birthdate: 2005-01-20
ID: 45, Name: Michael Jones, Sex: male, Country: South Africa, Birthdate: 2001-12-11
ID: 46, Name: Robert Johnson, Sex: male, Country: South Africa, Birthdate: 2003-01-18
ID: 47, Name: Robert Jones, Sex: male, Country: Australia, Birthdate: 2002-12-05
ID: 48, Name: Robert Williams, Sex: male, Country: Tanzania, Birthdate: 2009-04-30
ID: 49, Name: Elizabeth Johnson, Sex: female, Country: South Africa, Birthdate: 1993-11-14
ID: 50, Name: Michael Jones, Sex: male, Country: Tanzania, Birthdate: 1998-09-12
ID: 51, Name: Michael Brown, Sex: male, Country: USA, Birthdate: 1999-12-17
ID: 52, Name: Robert Johnson, Sex: male, Country: UK, Birthdate: 2006-11-16
ID: 53, Name: John Smith, Sex: male, Country: South Africa, Birthdate: 1994-09-19
ID: 54, Name: William Brown, Sex: male, Country: Australia, Birthdate: 1989-08-10
ID: 55, Name: Elizabeth Brown, Sex: female, Country: Jamaica, Birthdate: 1992-07-07
ID: 56, Name: Patricia Jones, Sex: female, Country: Tanzania, Birthdate: 1999-02-09
ID: 57, Name: Michael Johnson, Sex: male, Country: South Africa, Birthdate: 2006-08-14
ID: 58, Name: Robert Smith, Sex: male, Country: UK, Birthdate: 1991-01-29
ID: 59, Name: Jennifer Brown, Sex: female, Country: USA, Birthdate: 1994-01-29
ID: 60, Name: Robert Johnson, Sex: male, Country: Canada, Birthdate: 1996-08-13
ID: 61, Name: William Williams, Sex: male, Country: USA, Birthdate: 1994-10-01
ID: 62, Name: John Smith, Sex: male, Country: Jamaica, Birthdate: 2003-06-03
ID: 63, Name: Elizabeth Jones, Sex: female, Country: Jamaica, Birthdate: 2008-10-07
ID: 64, Name: Linda Williams, Sex: female, Country: Tanzania, Birthdate: 1994-06-17
ID: 65, Name: Mary Johnson, Sex: female, Country: Jamaica, Birthdate: 1992-08-13
ID: 66, Name: Michael Johnson, Sex: male, Country: Canada, Birthdate: 1989-04-20
ID: 67, Name: Patricia Johnson, Sex: female, Country: Jamaica, Birthdate: 1988-10-07
ID: 68, Name: Linda Brown, Sex: female, Country: UK, Birthdate: 1993-03-21
ID: 69, Name: Patricia Johnson, Sex: female, Country: Australia, Birthdate: 2003-03-26
ID: 70, Name: Patricia Brown, Sex: female, Country: South Africa, Birthdate: 1997-12-08
ID: 71, Name: Mary Brown, Sex: female, Country: Australia, Birthdate: 1991-01-18
ID: 72, Name: Mary Johnson, Sex: female, Country: Canada, Birthdate: 1988-11-03
ID: 73, Name: Michael Williams, Sex: male, Country: Tanzania, Birthdate: 1993-10-07
ID: 74, Name: John Williams, Sex: male, Country: Australia, Birthdate: 1985-08-29
ID: 75, Name: John Smith, Sex: male, Country: Australia, Birthdate: 1988-06-09
ID: 76, Name: Jennifer Smith, Sex: female, Country: Canada, Birthdate: 2006-05-03
ID: 77, Name: Linda Johnson, Sex: female, Country: Tanzania, Birthdate: 1998-06-22
ID: 78, Name: James Johnson, Sex: male, Country: Jamaica, Birthdate: 1999-11-05
ID: 79, Name: Patricia Williams, Sex: female, Country: Australia, Birthdate: 1987-03-19
ID: 80, Name: William Johnson, Sex: male, Country: USA, Birthdate: 1991-03-04
ID: 81, Name: Linda Jones, Sex: female, Country: South Africa, Birthdate: 2002-07-11
ID: 82, Name: Jennifer Williams, Sex: female, Country: Jamaica, Birthdate: 1987-01-28
ID: 83, Name: Michael Williams, Sex: male, Country: South Africa, Birthdate: 2001-12-09
ID: 84, Name: Robert Smith, Sex: male, Country: USA, Birthdate: 1988-09-26
ID: 85, Name: William Williams, Sex: male, Country: USA, Birthdate: 1991-05-19
ID: 86, Name: Robert Williams, Sex: male, Country: Jamaica, Birthdate: 2001-02-18
ID: 87, Name: Robert Johnson, Sex: male, Country: Tanzania, Birthdate: 1997-06-17
ID: 88, Name: James Brown, Sex: male, Country: UK, Birthdate: 1987-01-18
ID: 89, Name: John Smith, Sex: male, Country: South Africa, Birthdate: 2001-12-31
ID: 90, Name: Michael Smith, Sex: male, Country: Jamaica, Birthdate: 2000-09-08
ID: 91, Name: Elizabeth Brown, Sex: female, Country: South Africa, Birthdate: 2009-09-29
ID: 92, Name: Jennifer Williams, Sex: female, Country: Tanzania, Birthdate: 1989-12-14
ID: 93, Name: Patricia Williams, Sex: female, Country: UK, Birthdate: 1987-09-25
ID: 94, Name: Elizabeth Brown, Sex: female, Country: UK, Birthdate: 2006-02-03
ID: 95, Name: Elizabeth Jones, Sex: female, Country: UK, Birthdate: 1996-05-26
ID: 96, Name: James Brown, Sex: male, Country: UK, Birthdate: 2005-10-13
ID: 97, Name: Mary Brown, Sex: female, Country: UK, Birthdate: 2002-04-04
ID: 98, Name: James Brown, Sex: male, Country: Jamaica, Birthdate: 1998-04-21
ID: 99, Name: Mary Smith, Sex: female, Country: South Africa, Birthdate: 1993-01-29
ID: 100, Name: Michael Williams, Sex: male, Country: Jamaica, Birthdate: 2002-11-21

In [15]:
# Получение всех Олимпийских игр из базы данных
def get_all_olympic_games(session):
    olympic_games = session.query(OlympicGame).all()
    return olympic_games

# Вызываем функцию и выводим результат
olympic_games = get_all_olympic_games(session)

for game in olympic_games:
    print(f"ID: {game.id}, Year: {game.year}, Season: {game.season}, Country: {game.country}, City: {game.city}")

ID: 1, Year: 1988, Season: summer, Country: South Africa, City: John Jones
ID: 2, Year: 2004, Season: summer, Country: Australia, City: James Smith
ID: 3, Year: 2002, Season: winter, Country: Tanzania, City: William Williams
ID: 4, Year: 2004, Season: summer, Country: USA, City: William Johnson
ID: 5, Year: 2000, Season: summer, Country: Jamaica, City: John Jones

Перечислите все индивидуальные (не групповые) соревнования, в которых была ничья в счете, и два или более игрока выиграли золотую медаль.

In [16]:
from sqlalchemy import func

# Запрос для индивидуальных соревнований с двумя или более золотыми медалями
query = (
    session.query(Event.event_name, func.count(Participation.athlete_id).label('gold_medals_count'))
    .join(Participation)
    .filter(Participation.team_event == 0)  # Индивидуальные соревнования
    .filter(Participation.rank == 1)  # Золотая медаль
    .group_by(Event.event_name)
    .having(func.count(Participation.athlete_id) > 1)  # Два или более победителя
)

# Выполнение запроса
results = query.all()

# Вывод результатов с указанием имен полей
print(f"{'Event Name':<30} {'Gold Medalists Count':<20}")
for event_name, gold_medals_count in results:
    print(f"{event_name:<30} {gold_medals_count:<20}")

Event Name                     Gold Medalists Count
Athletics Event                8
Diving Event                   2
Gymnastics Event               4
Swimming Event                 6
Water Polo Event               8

Найдите всех игроков, которые выиграли хотя бы одну медаль (GOLD, SILVER и BRONZE) на одной Олимпиаде.

In [17]:
# Запрос для нахождения игроков, которые выиграли хотя бы одну медаль на одной Олимпиаде
query = (
    session.query(Athlete.name, OlympicGame.year, OlympicGame.city)
    .join(Participation)
    .join(Event)
    .join(OlympicGame)
    .filter(Participation.rank.in_([1, 2, 3]))  # Медали: 1 - Gold, 2 - Silver, 3 - Bronze
    .group_by(Athlete.name, OlympicGame.year, OlympicGame.city)
)

# Выполнение запроса
results = query.all()

# Вывод отформатированных результатов
print(f"{'Athlete Name':<30} {'Olympic Year':<15} {'Olympic City':<20}")
print('-' * 65)
for athlete_name, olympic_year, olympic_city in results:
    print(f"{athlete_name:<30} {olympic_year:<15} {olympic_city:<20}")

Athlete Name                   Olympic Year    Olympic City
-----------------------------------------------------------------
Elizabeth Brown                2000            John Jones
Elizabeth Brown                2002            William Williams
Elizabeth Brown                2004            James Smith
Elizabeth Brown                2004            William Johnson
Elizabeth Johnson              2004            James Smith
Elizabeth Jones                2002            William Williams
Elizabeth Jones                2004            James Smith
James Brown                    1988            John Jones
James Brown                    2000            John Jones
James Brown                    2004            James Smith
James Johnson                  1988            John Jones
James Johnson                  2000            John Jones
James Johnson                  2004            James Smith
James Jones                    1988            John Jones
James Jones                    2002            William Williams
James Jones                    2004            James Smith
James Jones                    2004            William Johnson
James Smith                    1988            John Jones
James Smith                    2004            James Smith
James Smith                    2004            William Johnson
James Williams                 1988            John Jones
Jennifer Brown                 2002            William Williams
Jennifer Johnson               1988            John Jones
Jennifer Johnson               2004            James Smith
Jennifer Smith                 2004            James Smith
Jennifer Williams              1988            John Jones
Jennifer Williams              2000            John Jones
John Brown                     2004            James Smith
John Smith                     2000            John Jones
John Smith                     2002            William Williams
John Smith                     2004            James Smith
John Williams                  1988            John Jones
John Williams                  2004            James Smith
Linda Johnson                  1988            John Jones
Linda Johnson                  2000            John Jones
Linda Johnson                  2002            William Williams
Linda Johnson                  2004            James Smith
Linda Jones                    1988            John Jones
Linda Jones                    2000            John Jones
Linda Jones                    2004            James Smith
Linda Jones                    2004            William Johnson
Linda Smith                    2004            James Smith
Linda Williams                 1988            John Jones
Linda Williams                 2000            John Jones
Linda Williams                 2004            James Smith
Linda Williams                 2004            William Johnson
Mary Brown                     1988            John Jones
Mary Brown                     2004            James Smith
Mary Johnson                   1988            John Jones
Mary Johnson                   2000            John Jones
Mary Johnson                   2004            James Smith
Mary Johnson                   2004            William Johnson
Mary Jones                     2002            William Williams
Mary Smith                     1988            John Jones
Mary Smith                     2002            William Williams
Mary Smith                     2004            James Smith
Michael Brown                  2000            John Jones
Michael Brown                  2002            William Williams
Michael Johnson                2004            William Johnson
Michael Jones                  1988            John Jones
Michael Jones                  2000            John Jones
Michael Jones                  2002            William Williams
Michael Jones                  2004            James Smith
Michael Smith                  1988            John Jones
Michael Smith                  2000            John Jones
Michael Smith                  2004            James Smith
Michael Williams               1988            John Jones
Michael Williams               2004            James Smith
Patricia Brown                 2002            William Williams
Patricia Brown                 2004            James Smith
Patricia Johnson               2000            John Jones
Patricia Johnson               2004            James Smith
Patricia Jones                 1988            John Jones
Patricia Jones                 2004            James Smith
Patricia Smith                 1988            John Jones
Patricia Williams              2000            John Jones
Patricia Williams              2002            William Williams
Patricia Williams              2004            James Smith
Robert Brown                   2004            James Smith
Robert Johnson                 1988            John Jones
Robert Johnson                 2000            John Jones
Robert Johnson                 2002            William Williams
Robert Johnson                 2004            James Smith
Robert Smith                   2000            John Jones
Robert Smith                   2004            James Smith
Robert Williams                1988            John Jones
Robert Williams                2002            William Williams
Robert Williams                2004            James Smith
William Brown                  2002            William Williams
William Johnson                1988            John Jones
William Johnson                2004            James Smith
William Smith                  2004            James Smith
William Williams               1988            John Jones
William Williams               2000            John Jones
William Williams               2004            William Johnson

Для Олимпийских игр 2000 года найдите 5 стран с минимальным соотношением количества групповых медалей к численности населения.

In [18]:
# Определяем таблицу Population

class Population(Base):
    __tablename__ = 'population'

    country = Column(String, primary_key=True)
    population = Column(Integer)

In [19]:
# Создание таблицы Population
Base.metadata.create_all(engine)

In [20]:
# Список стран и их население (данные приблизительные)
population_data = [
    {"country": "USA", "population": 331000000},
    {"country": "Canada", "population": 38000000},
    {"country": "UK", "population": 67000000},
    {"country": "Australia", "population": 25600000},
    {"country": "South Africa", "population": 60000000},
    {"country": "Jamaica", "population": 3000000},
    {"country": "Tanzania", "population": 61000000},
]

# Вставка данных в таблицу Population
for data in population_data:
    population_entry = Population(country=data['country'], population=data['population'])
    session.add(population_entry)

# Сохранение изменений
session.commit()

In [21]:
populations = session.query(Population).all()

for line in populations:
    print(f'Country: {line.country}, Population: {line.population}')

Country: USA, Population: 331000000
Country: Canada, Population: 38000000
Country: UK, Population: 67000000
Country: Australia, Population: 25600000
Country: South Africa, Population: 60000000
Country: Jamaica, Population: 3000000
Country: Tanzania, Population: 61000000

In [22]:
# Пример запроса для Олимпийских игр 2000 года
query = (
    session.query(Athlete.country, func.count(Participation.id).label('team_medals'), Population.population)
    .join(Participation)
    .join(Event)
    .join(OlympicGame)
    .filter(OlympicGame.year == 2000)
    .filter(Participation.team_event == 1)  # Групповые соревнования
    .join(Population, Athlete.country == Population.country)  # Предполагается таблица Population с населением
    .group_by(Athlete.country, Population.population)
    .order_by((func.count(Participation.id) / Population.population).asc())
    .limit(5)
)
results = query.all()

# Вывод отформатированных результатов
print(f"{'Country':<20} {'Team Medals':<15} {'Population':<15} {'Medals per Population':<25}")
print('-' * 75)
for country, team_medals, population in results:
    ratio = team_medals / population if population else 0
    print(f"{country:<20} {team_medals:<15} {population:<15} {ratio:<25.10f}")

Country              Team Medals     Population      Medals per Population
---------------------------------------------------------------------------
USA                  1               331000000       0.0000000030
UK                   2               67000000        0.0000000299
South Africa         2               60000000        0.0000000333
Canada               2               38000000        0.0000000526
Tanzania             5               61000000        0.0000000820

Для удаления всей таблицы (выполнять необязательно)

In [5]:
# Удаление всех таблиц
Base.metadata.drop_all(engine)

In [26]:
# Удаление таблицы Population
# Population.__table__.drop(engine)

Base.metadata.drop_all(engine, table='population')

TypeError: drop_all() got an unexpected keyword argument 'table'